.bio_svg {
  width: 12vw;
  margin: 5vh;
  border-radius: 100%;
}
.bio_container__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bio_p {
  font-size: x-large;
}