body {
  margin: 0;
}

p {
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
}
.up_arrow__svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.response_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vh 0vh 5vh;
  width: 100%;
}
.user_input--container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .command_info {
  width: 19%;
  height: 75%;
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;
} */
/* .command_button--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40vh;
  z-index: 99;
} */
/* .command_button {
  border: none;
  width: 100px;
  border-radius: 25px;
  color: white;
  background-color: lightblue;
  box-shadow: 0px 0px 10px grey;
} */
.chat-box {
  display: flex;
  align-items: center;
  margin-left: 22vw;
  margin-top: 5vh;
  padding: 5vh;
  box-shadow: 2px 0px 32px grey;
  border-radius: 8px;
  width: 52%;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}



.landing-background__image {
  width: 100%;
  height: 100vh;;
  z-index: 0;
}

.landing-img__div {
  position: relative;
  text-align: center;
}

.landing-text__p {
  position: absolute;
  width: 100%;
  /* text-align: center; */
  bottom: 33%;
  color: white;
  font-size: 50px;
}
